.reload-button.button {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 11.5%;
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent; 
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

.reload-button.button:hover{
    border: 1px solid #4cbfc0;
}

.reload-button.button:focus{
    transform: rotate(90deg);
    transition: 2s;
}

.chart {
    position: relative;
}

.chart-controls {
    display: flex;
    align-items: center;
    padding-inline: 9px;
}

.chart-controls select {
    height: 30px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}